<h2 class="ui center aligned medium icon header">
  <i class="circular battery full icon yellow"></i>
  Say something
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" style="user-select: auto;">
        <div class="ui feed">
          <div class="event" style="user-select: auto;">
            <div class="content" style="user-select: auto;">
              <div class="summary" style="user-select: auto;">
                <a style="user-select: auto;">Elliot Fu</a> added <a style="user-select: auto;">Jenny Hess</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" style="user-select: auto;">
            <div class="content" style="user-select: auto;">
              <div class="summary" style="user-select: auto;">
                <a style="user-select: auto;">Stevie Feliciano</a> added <a style="user-select: auto;">Elliot Fu</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" style="user-select: auto;">
            <div class="content" style="user-select: auto;">
              <div class="summary" style="user-select: auto;">
                <a style="user-select: auto;">Helen Troy</a> added <a style="user-select: auto;">Christian Rocha</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" style="user-select: auto;">
            <div class="content" style="user-select: auto;">
              <div class="summary" style="user-select: auto;">
                <em>Christian Rocha</em>: Test message
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra">
        <form class="ui reply form" style="user-select: auto;">
          <div class="field" style="user-select: auto;">
            <div class="ui fluid icon input" style="user-select: auto;">
              <input type="text" placeholder="Search..." style="user-select: auto;">
              <i class="bordered inverted orange edit icon" style="user-select: auto;"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" style="user-select: auto;">
        <div class="ui inverted vertical menu">
          <a class="active item" style="user-select: auto;">
            Home
          </a>
          <a class="item" style="user-select: auto;">
            Messages
          </a>
          <a class="item" style="user-select: auto;">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

