<h2 class="ui center aligned medium icon header">
  <i class="circular battery full icon yellow"></i>
  Say something
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" style="user-select: auto;">
        <div class="ui small feed">
          <h4 class="ui header" style="user-select: auto;">Followers Activity</h4>
          <div class="event" style="user-select: auto;">
            <div class="content" style="user-select: auto;">
              <div class="summary" style="user-select: auto;">
                <a style="user-select: auto;">Elliot Fu</a> added <a style="user-select: auto;">Jenny Hess</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" style="user-select: auto;">
            <div class="content" style="user-select: auto;">
              <div class="summary" style="user-select: auto;">
                <a style="user-select: auto;">Stevie Feliciano</a> added <a style="user-select: auto;">Elliot Fu</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" style="user-select: auto;">
            <div class="content" style="user-select: auto;">
              <div class="summary" style="user-select: auto;">
                <a style="user-select: auto;">Helen Troy</a> added <a style="user-select: auto;">Christian Rocha</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" style="user-select: auto;">
            <div class="content" style="user-select: auto;">
              <div class="summary" style="user-select: auto;">
                <a style="user-select: auto;">Christian Rocha</a> signed up for the  site.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" style="user-select: auto;">
        <div class="ui inverted vertical menu">
          <a class="active item" style="user-select: auto;">
            Home
          </a>
          <a class="item" style="user-select: auto;">
            Messages
          </a>
          <a class="item" style="user-select: auto;">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

